
<% @articles.each do |article| %>
	<h1> <%=link_to article.headline, article_path(article.id) %> </h1>
	<h3>by: <%=article.author.name %> </h3>
	<%= image_tag article.photo_url, width: 200 %>
	<p> <%= article.content %> </p>
	<br>
<% end %>

<%= link_to "Add Article", new_article_path %>